<!-- templates/discussion.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Discussion</title>
</head>
<body>
    <h1>{{.Title}}</h1>
    <p>Posted by {{.Owner.Profile.Username}}#{{.Owner.Profile.Discriminator}} at {{.CreatedAt}}</p>
    <p>{{.Body}}</p>
    <p><a href="/new_reply/{{.ID}}">Reply to the discussion</a></p>
    <h2>Replies</h2>
    <ul>
        {{template "replies" .Replies}}
    </ul>
</body>

{{define "replies"}}
<ul>
    {{range .}}
    <li>
        <p>{{.Body}} - by {{.Owner.Profile.Username}}#{{.Owner.Profile.Discriminator}} at {{.CreatedAt}}</p>
        <p><a href="/new_reply/{{$.ID}}?parent_id={{.ID}}">Reply to this comment</a></p>
        {{if .Children}}
        {{template "replies" .Children}}
        {{end}}
    </li>
    {{end}}
</ul>
{{end}}
</html>
