<!-- templates/discussions.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Discussions</title>
	<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/water.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>&emsp;
        <a href="/discussions">Discussions</a>&emsp;
        <a href="/settings">Settings</a>&emsp;
        <a href="/register" style="float:inline-end">Register&emsp;</a>
        <a href="/login"  style="float:inline-end">Login&emsp;</a>
      </nav>
    <h1>Discussions</h1>
    <a href="/new_discussion">Create a new discussion</a>
    <br>
    <br>
    <br>
    <table>
        <thead>
            <tr>
                <th colspan="3">Title</th>
                <th>Author</th>
                <th><center>Replies</center></th>
                <th colspan="2">Latest Reply</th>
            </tr>
        </thead>
        <tbody>
            {{range .Discussions}}
            <tr>
                <td colspan="3"><a href="/discussion/{{.ID}}">{{.Title}}</a></td>
                <td>
                    <img src="/static/avatars/{{.Owner.Profile.Avatar}}" height="18px" width="18px" />&emsp;{{.Owner.Profile.Username}}#{{.Owner.Profile.Discriminator}}</td>
                <td>
                    <center>{{.NumReplies}}</center>
                </td>
                <td colspan="2">{{.LatestReply.Format "2006-01-02 15:04:05"}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
</body>
</html>
