<!-- templates/register.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="/static/water.css">
</head>
<body>
    <nav>
        <img src="static/monkfish.svg" width=32px height=32px />
        <a href="/">Home</a>&emsp;
        <a href="/discussions">Discussions</a>&emsp;
        <a href="/settings">Settings</a>&emsp;
        <a href="/register" style="float:inline-end">Register&emsp;</a>
        <a href="/login"  style="float:inline-end">Login&emsp;</a>
      </nav>
      <br><br>
    <form method="POST" action="/register">
        <label>Email:</label><br>
        <input type="email" name="email" required>
        <label>Password:</label><br>
        <input type="password" name="password" required><br>
        {{ .csrfField }}
        <button type="submit">Register</button>
    </form>
</body>
</html>