<!DOCTYPE html>
<html>
<head>
    <title>Settings</title>
    <link rel="stylesheet" href="/static/water.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>&emsp;
        <a href="/discussions">Discussions</a>&emsp;
        <a href="/settings">Settings</a>&emsp;
        <a href="/register">Register</a>&emsp;
        <a href="/login">Login</a>&emsp;
      </nav>
    <h1>Settings</h1>
    <form method="POST" action="/settings">

        <h2>{{ .Profile.Username }}#{{printf "%04d" .Profile.Discriminator}}</h2>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="{{.Profile.Username}}" required>
        <br>
        {{if .Profile.Discriminator}}
        <p>Discriminator: #{{printf "%04d" .Profile.Discriminator}}</p>
        {{end}}
        <input type="submit" value="Save">
    </form>
</body>
</html>
